@import "app/_partials/_mixins";

@import url('https://fonts.googleapis.com/css?family=Khand');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: Open Sans;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Khand;
  margin: 0;
  font-weight: 300;
}

p {
  margin: 0;
}

// colors
$light-tan: #f0d3b3;
$med-tan: #e0bc9a;
$dark-tan: #ac8d6d;

$grapefruit: #e49273;
$pink: #f9c8b9;

$emerald: #1a5d63;
$forest: #153e40;

.grapefruit-text {
  color: $grapefruit;
}

// buttons 
.launch-proj {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.launch-button {
  display: inline-block;
  color: black;
  font-family: Khand;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  background: $pink;
  height: 40px;
  width: 150px;
  text-align: center;
  line-height: 42px;
  border: 2px solid $pink;
  transition: 0.5s ease;

  &:hover {
    color: $pink;
    background: white;
  }
}

.latest-project--summary {
  display: flex;
  h4 {
    text-transform: uppercase;
  }

  div {
    margin: 10px;
    width: 50%;

    &:nth-of-type(2) {
      text-align: right;
    }
  }
}


