$white: #fff;
$black: #000;
$lightpurple: #998c9e;
$greypurple: #63585e;
$palegreen: #c5dbcf;
$textmint: #c4e8d5;
$paleblue: #b9c0da;
$darkgrey: #3e3e3e;
$teal: #195566;
$hotpink: #d51747;
$cream: #ffeedb;
