@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: GothamLight, sans-serif;
  display: block;
  font-size: 3em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
}

h2, h3, h4, h5, h6 {
  font-family: GothamBold, sans-serif;
}

h2 {
  display: block;
  font-size: 2.25em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
}

h3 {
  display: block;
  font-size: 1.7em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
}

p {
  margin-bottom: 10px;

  &:first-of-type {
    margin-top: 10px;
  }
}

@font-face {
  font-family: GothamBold;
  src: url('../../assets/fonts/Gotham-Bold.otf');
}

@font-face {
  font-family: GothamLight;
  src: url('../../assets/fonts/Gotham-Light.otf');
}
