<div class="about-container">

  <div class="flex about-photo">
    <p>photo goes here</p>
    <p> pic goes here too</p>
  </div>
  <div class="flex about-text">
    <p>Nullam dapibus fermentum scelerisque. Etiam a blandit justo, 
      nec rhoncus dui. Nunc aliquet diam ac lacus cursus, nec pharetra 
      quam posuere. Proin consequat nibh non efficitur efficitur. Donec 
      sodales, turpis sed vestibulum finibus, nulla nibh cursus sapien, 
      non posuere turpis elit eget sem.</p>
      <p>Donec rhoncus facilisis elementum. 
      Suspendisse non rutrum tellus, porttitor suscipit dui. Nulla quis arcu 
      odio. Pellentesque cursus enim non quam tincidunt vestibulum. Fusce 
      ipsum felis, sollicitudin sed ligula eu, consequat elementum nisl. 
      Praesent quis nibh nibh. Aenean imperdiet lacus faucibus, porta urna 
      vel, placerat velit.</p>
  </div>
</div>