@import "../../styles";

.work-container {
  margin-top: 80px;
}

.work-main {
  display: flex;
}


.proj {
  background: blue;
  max-width: 450px;

  .projnum {
    font-size: 70px;
  }
  h2 {
    color: green;
    text-transform: uppercase;
    font-size: 50px;
    margin-top: -55px;
    margin-left: -30px;
    margin-bottom: 0;
  }
  p {
    font-size: 14px;
    margin-top: 0;
  }

  img {
    height: 150px;
  }
}

.proj-components {
  display: flex;
  margin: 10px
}

