@import "../../styles";

.work-container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile {
    flex-direction: column;
    
  }
}

.work-piece {
  max-width: 40%;
  min-width: 350px;
  margin-bottom: 1em;
  margin-right: 75px;

  @include mobile {
    // position: static;
    max-width:100%;
    min-width: 0;
    margin-right:0;
  }

  h2 {
    font-weight:600;
    color: $forest;
    position: relative;
    top: -35px;
    left: -15px;

    @include mobile {
      position: static;
    }
  }

  .proj-num {
    font-size: 45px;
  }

  .proj-title {
    font-size: 40px;
  }

  .dark {
    background: $med-tan;
  }

  .light {
    background: $light-tan;
  }

}

.work-piece--summary {
  display: flex;
  position: relative;
  top: -35px;

  @include mobile {
    position: static;
  }
}

.work-piece--preview {
  // img {}
  margin-left: -35px;
  background: grey;
  height: 150px;
  width: 150px;

  @include mobile {
    margin-left:0;
  }
}

.work-piece--text {
  width: 70%;
}

.launch-button-container {
  margin-top: .5em;

  @include mobile {
    a {
      width: 99%;
    }
  }
}