

<div class="work-container">

  <div class="work-main left-work">
    <div class="launch-proj">
      <a class="launch-button" routerLink="/project">Launch Project</a>
    </div>

    <div class="proj">
      <h2><span class="projnum">001/</span>title of project</h2>
      <div class="proj-components">
        <img src="../assets/projpreviews/idday.png">
        <p class="projdesc--preview">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Suspendisse ac ipsum nisi. Donec ac ligula elementum, porta 
            nunc quis, elementum ante. In sed turpis eu magna porttitor 
            luctus. Suspendisse sed ultricies nisl. Vivamus interdum auctor 
            dolor, nec molestie mi facilisis vitae. 
        </p>
      </div>
    </div>

  </div>

  <div class="right-work"></div>

</div>
