<div class="project-container">

 <div class="project-info">

  <div class="project-info--container">

  <div class="project-info--title">

    <div class="proj-title--animation">
      <div>
        <svg class="top" xmlns="http://www.w3.org/2000/svg" width="147.099" height="35.227" viewBox="0 0 147.099 35.227">
          <path fill="#DFBC9A" d="M0 0h147.1v25.227H0z"/>
        </svg>
        
        <svg class="middle" xmlns="http://www.w3.org/2000/svg" width="200.099" height="35.227" viewBox="0 0 200.099 35.227">
          <path fill="#DFBC9A" d="M0 0h200.1v25.227H0z"/>
        </svg>

        <svg class="bottom" xmlns="http://www.w3.org/2000/svg" width="267.099" height="35.227" viewBox="0 0 267.099 35.227">
          <path fill="#DFBC9A" d="M0 0h267.1v25.227H0z"/>
        </svg>
      </div>
    </div>


    <h2 class="projnum">001/</h2>
    <h2>but, beautiful</h2>
  </div>

  <div class="project-info--desc">
    <div class="flex project--left">
      <h4>ROLE</h4>
      <p>photographer, creative director</p>

      <h4>YEAR</h4>
      <p>2016</p>

      <!-- <h4>_</h4>
      <p>desktop/mobile</p> -->
    </div>
    <div class="flex project--right">
      <h4>CLIENT</h4>
      <p>ashley nicole</p>

      <h4>TOOLBOX</h4>
      <p>photoshop</p>

      <!-- <a class="launch-site" href="#">launch site</a> -->
    </div>
  </div>

</div>

  <div class="project--summary">
      
            <p>Nullam dapibus fermentum scelerisque. Etiam a blandit justo, 
              nec rhoncus dui. Nunc aliquet diam ac lacus cursus, nec pharetra 
              quam posuere. Proin consequat nibh non efficitur efficitur. Donec 
              sodales, turpis sed vestibulum finibus, nulla nibh cursus sapien, 
              non posuere turpis elit eget sem. Donec rhoncus facilisis elementum. 
              Suspendisse non rutrum tellus, porttitor suscipit dui. Nulla quis arcu 
              odio. Pellentesque cursus enim non quam tincidunt vestibulum. Fusce 
              ipsum felis, sollicitudin sed ligula eu, consequat elementum nisl. 
              Praesent quis nibh nibh. Aenean imperdiet lacus faucibus, porta urna 
              vel, placerat velit.
            </p>
      
            <p>Tiam cursus ante et nisi maximus dignissim. Vestibulum nibh elit, 
              rutrum et erat ac, varius ornare velit. Etiam semper gravida ornare. 
              Quisque vitae lectus at arcu fringilla pellentesque. Duis maximus in 
              augue non eleifend. Maecenas pellentesque rutrum facilisis. Cras 
              sodales at lorem a molestie. Nunc eu tellus quis nulla consequat 
              sagittis. Fusce placerat, metus ac fringilla venenatis, ex risus 
              blandit nibh, at tristique urna magna ut sem. Vivamus hendrerit 
              hendrerit bibendum. Nulla facilisi.</p>
          </div>
 </div>

 <div class="project-entry">
    <app-gallery></app-gallery>
 </div>

</div>
