@import '../styles';

nav {
  font-family: Khand;
  text-align: right;
  max-width: 1080px;

  @include mobile {
    display: none;
  }

  a {
    color: $dark-tan;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 18px;
    transition: font-size 0.5s ease;
    margin: 15px;
    line-height: 25px;
    vertical-align: middle;

    &:hover {
      color: $forest;
      text-transform: uppercase;
      font-size: 24px;
    }
  }

  .active {
    color: $forest;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
  }
}


.mobile-nav {
  display: none;

  @include mobile {
    display: block;
  }
}

.mobile-nav--open {
  display: none;

  @include mobile {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // background: $emerald;
    // height: 100%;
    // width: 100%;
    // position: fixed;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
    // overflow-y: hidden !important;
  }
}

.open-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $emerald;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: hidden !important;
}

.mobile-list {
  list-style: none;
  text-align: center;
  left: 50%;
  // padding-left: 0;
  padding: 0;

  li {
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;

    &:hover {
      padding: 0;
      margin: 0;
      div {
        display: block;

        svg {
          animation: fill 1s ease;
        }
      }
    }

    div {
      position: relative;
      top: 55px;
      z-index: -10;
      display: none;

      svg {
        display: block;
        padding: 0;
        margin: 0;
      }
    }
  }

  @keyframes fill {
    0% { width: 0; }
    25% { width: 50; }
    50% { width: 125; }
   // 85% {width: 235; }
    100% { width: 237.0987; }
  }

  a {
    text-decoration: none;
    font-family: Khand;
    text-transform: lowercase;
    color: white;
    font-size: 80px;
    line-height: 100px;
    // transition: color 0.5s ease;
    margin: 0 !important;
    padding: 0 !important;
    display: inline-block;
    vertical-align: middle;

    &:hover {
      // color: $pink;
      margin: 0 !important;
      padding: 0 !important;
    }
  }

  .active {
    color: $pink;
    &:hover {
      color: white;
    }
  }
}

.open-nav,
.close-nav {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 35px;
  transition: color 0.5s ease;
}

.open-nav {
  color: $dark-tan;

  &:hover {
    color: $emerald;
  }
}

.close-nav {
  color: $pink;

  &:hover {
    color: white;
  }
}

.router-container {
  max-width: 1080px;
  margin: 0 auto;
  padding-top: 20px;
}


/******************** SVG *******************/
.top-left {
  svg {
    position: absolute;
    top: -245px;
    left: -280px;
    transform: scale(.55);
    z-index: -10;

    @include mobile {
      left: -350px;
      top: -315px;
      transform: scale(.20);
    }
  }

}

.bottom-right {
  svg {
    position: fixed;
    bottom: -410px;
    right: -380px;
    transform: scale(.5);
    z-index: -10;
  }

  @include mobile {
    display: none;
  }
}
