.about-cntr,
.contact-cntr {
  background: $greypurple;
  position: relative;

  .borders--cntr {
    .left-border {
      position: absolute;
    }

    .right-border {
      position: fixed;
    }
  }
}

.about--content,
.contact--content {
  position: absolute;
  top: 0;
}

.about-animation,
.contact-animation {
  position: absolute;
  height: 100%;
  width: 100%;
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  margin: 0 auto;
}