.main-btn {
  text-transform: uppercase;
  font-family: TEXbold;
  text-decoration: none;
  color: $black;
  font-size: 1.5em;
  padding-bottom: 10px;
  border-bottom: 5px solid $red;
  @include transition(.3s color ease);

  &:hover {
    color: $red;
  }

  @include tablet {
    font-size: 1.25em;
  }

  @include mobile {
    font-size: 1em;
  }
}

.main-btn.white--text {
  color: $white;

  &:hover {
    color: $red;
  }
}

.site-nav--btns {
  position: fixed;
  right: 0;
  z-index: 99999999;
}

.site-nav-btn--cntr {
  text-decoration: none;
  color: $black;
}

.site-nav--btn {
  height: 50px;
  width: 50px;
  background: $white;
  color: $black;
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  @include transition(.3s background ease);
  cursor: pointer;

  &:hover {
    background: $black;
    color: $white;
  }
}

.site-nav-logo {
  @include mobile {
    display: none;
  }
}
