.work-preview--cntr {
  .borders--cntr {
    // z-index: 999;
  }
}

.borders--cntr {
  // @include flexbox;
  // @include justify-content(space-between);
  position: relative;
}

.left-border {
  // background: $palegreen; 
  height: 100vh;
  width: 20px;
}

.right-border {
  // background: $paleblue;
  height: 20px;
  width: 66.66vw;
  position: absolute;
  bottom: 0vh;
  right: 0;
}