.say-hi {
  display: none;
}

.contact-cntr {
  .double-page--txt_content {
    // @include align-items(flex-end);
  }
}

::placeholder {
    color: $lightpurple;
    opacity: 1; /* Firefox */
    font-family: Gotham;
    // font-size: 1.75em;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: Gotham;
  // font-size: 1.75em;
   color: $lightpurple;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: $lightpurple;
   font-family: Gotham;
  //  font-size: 1.75em;
}

.contact--form {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  background: $greypurple;
  width: 100%;
}

.contact--form_msg {
  margin: 10px 0;
  width: 100%;
}

.contact--form_input {
  margin: 10px 0;
  width: 100%;
  height: 1.75em;
  background: $greypurple;
  border: 0;
  border-bottom: solid 2px $lightpurple;
  font-family: Gotham;
  font-size: 1em;
  color: $lightpurple;

  &:first-of-type {
    margin-top: 0;
  }
}

.contact--form_msg {
  background: $greypurple;
  border: 2px solid $lightpurple;
  min-height: 200px;
  resize: vertical;
  font-family: Gotham;
  font-size: 1em;
  color: $lightpurple;
}

.btn-holder {
  width: 100%;
  @include flexbox;
  @include justify-content(flex-end);
  padding-top: 2em;
}

.contact--form_submit {
  background: $greypurple;
  color: $lightpurple;
  font-family: Gotham;
  font-size: 1.25em;
  border: 0;
  border-bottom: 2px solid $lightpurple;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 5px;
  @include transition(.3s all ease);
  cursor: pointer;

  &:hover {
    color: $cream;
    border-color: $cream;
  }
}
