.app-pages--main-text,
.sub-pages--main-text,
.sub-pages--main-double-text {
  @include flexbox;
  max-width: 1080px;
  padding: 20px;
  margin: 0 auto;
  color: $white;
}

.sub-pages--main-double-text {
  @include align-items(center);
  @include justify-content(space-between);

  @include tablet {
    @include justify-content(center);
    @include align-items(flex-start);
    @include flex-direction(column);
    text-align: left;
  }

   @include mobile {
    @include justify-content(center);
    @include align-items(flex-start);
    @include flex-direction(column);
    text-align: left;
  }
}

.app-pages--herospace {
  width: 100%;
  background: $black;
}

.app-pages--main-text {
  @include justify-content(space-around);
  @include align-items(center);

  @include mobile {
    @include flex-direction(column);
    @include justify-content(flex-start);
    @include align-items(flex-start);
    padding: 20px;
  }
}

.page-title {
  padding-bottom: 10px;
  border-bottom: 5px solid $red;
  margin-bottom: 20px;
}

.page-sub-title {
  font-size: 24px;
}

.project-role {
  margin: 10px 0;
  font-size: 22px;
}