// home gallery container

.home-gallery--cntr {
  @include flexbox;
  @include flex-wrap(wrap);
  max-width: 1440px;
  margin: 0 auto;
  background: $white;

  @include mobile {
    @include flex-direction(column);
  }
}

// gallery items
.gallery-item--link {
  height: 100%;
  width: calc(100% / 3);

  @include mobile {
    width: 100%;
  }
}

.home-gallery-item--cntr {
  position: relative;
  width: 100%;
  height: 550px;

  @include mobile {
    width: 100%;
    height: 200px;
  }

  .overlay {
    background: $red;
  }
}

.home-gallery-item--content {
  @include flex-direction(column);
  @include justify-content(flex-end);
  padding: 20px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 5%;
  left: -20%;
  @include transform(rotate(270deg));
  z-index: 999;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);


  @include desktop {
    left: -15%;
  }

  @include tablet {
    top: 10%;
    left: -30%;
  }

  @media only screen and (max-width: 930px) {
    top: 15%;
    left: -45%;
}

  @include mobile {
    @include transform(translateX(-50%));
    top: 0;
    left: 50%;
  }
}
