::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $red;
  opacity: .5;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $red;
  opacity: .5;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $red;
  opacity: .5;
}
:-moz-placeholder { /* Firefox 18- */
  color: $red;
  opacity: .5;
}

.block-shadow {
  background: $red;
}

.contact-form {
  background: $white;
  padding: 40px;

  @include mobile {
    padding: 20px;
  }
}

.contact--shadow {
  min-height: 370px;
  min-width: 550px;
  margin-top: 10%;

  @include mobile {
    display: none;
    margin-top: 0;
  }
}

.home-contact--section {
  padding: 60px;
  min-height: 700px;
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);

  @include mobile {
    display: block;
    padding: 20px;
    min-height: 0;
  }
}

.home-contact--cntr {
  position: relative;
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  margin-top: 10%;
  padding-bottom: 40px;

  @include mobile {
    margin-top: 0;
    padding-bottom: 0;
  }
}

.contact-form--full {
  position: absolute;
  width: 550px;
  min-height: 400px;
  margin-left: 15%;
  margin-top: -10%;

  @include mobile {
    position: static;
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-top: 0;
  }
}

.home-contact-form--full {
  @include flexbox;
  border: 1px solid $red;

  @include mobile {
    border: 0;
    @include flex-direction(column);

  }
}

.home-contact-form {
  width: 65%;

  @include mobile {
    width: 100%;
  }
}

.contact-side-title {
  width: 35%;
  background: $black;
  padding: 40px;

  @include mobile {
    width: 100%;
    padding: 20px;
  }
}

.contact-title-text {
  text-transform: uppercase;
  color: $red;
}


// cont form
.user-info {
  @include flexbox;
  @include justify-content(space-between);
  padding-bottom: 20px;

  @include mobile {
    @include flex-direction(column);

    input, textarea {
      
    }
  }

  input {
    border: 0;
    font-size: 14px;
    margin-bottom: 40px;

    @include mobile {
      height: 40px;
      @include flexbox;
      @include align-items(center); 
      font-size: 18px;
    }
  }
}

.message-info {
  textarea {
    width: 100%;
    min-height: 175px;
    resize: vertical;
    max-height: 220px;
    font-size: 14px;
    border: 0;
    font-family: inherit;

    @include mobile {
      font-size: 18px;
    }
  }

  .btn-holder {
    @include flexbox;
    @include justify-content(flex-end);
    padding-top: 20px;
  }
}
