.home-herospace--cntr {
  background: $black;
  color: $white;
  // min-height: 450px;
  min-height: 80vh;
  max-height: 700px;
  padding: 40px;
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(space-around);
  @include align-items(center);

  @include mobile {
    min-height: 350px;
  }
}

.home-herospace--cntr_text {
  text-align: center;
}

.ani-text--headline--cntr {
  min-width: 150px;
  margin-bottom: 20px;
  border-bottom: 5px solid $red;
}

.ani-text--subtext {
  font-size: 2em;
}
