.back--work {
  padding: 20px;
  @include flexbox;
  @include align-items(center);
  a {
    color: $black;
    @include transition(.3s color ease);

    &:hover {
      color: $red;
    }
  }
}

.photography-entry--cntr {
  max-width: 1440px;
  // padding-top: 20px;
}

.photography-entry--art_cntr {
  padding: 20px 0;
  @include flexbox;
  @include justify-content(space-between);

  @include mobile {
    @include flex-direction(column-reverse);
  }
}

.photography-entry--featured {
  img {
    max-height: 500px;
  }
}

.photography-entry--poem_title {
  text-align: right;
  color: $red;
  text-transform: uppercase;

  .poem_text {
    max-width: 20ch;

    @include mobile {
      max-width: 100%;
    }
  }
}