.gallery-item {
  overflow: hidden;
}

.home-gallery-item--cntr {
  &:hover {

    .backer {
      transform: scale(1.15);
      opacity: .8;
    }

    .overlay {
      opacity: .3;
    }

    .gallery-item--content {
      @include flexbox;
      opacity: 1;
    }

  }
}

.backer {
  position: relative;
  z-index: 99;
  top: -100%;
  opacity: .5;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  @include transition(.5s all ease);

  @include mobile {
    opacity: .6;
    background-position: 80% 30%;
  }
}

.overlay {
  @include transition(.5s opacity ease);
  height: 100%;
  z-index: 998;
  top: 0;
  opacity: 0;
  position: relative;
}

.gallery-item--content {
  @include flexbox;
}

.gallery-item--content {
  display: none;
  opacity: 0;
  @include transition(.5s all ease);

  @include mobile {
    @include flexbox;
  }
}

.gallery-item--title {
  color: $lightred;
}

.gallery-item--role {
  font-family: 'Karla';
  color: $white;
}
