.work-slider--cntr {
  margin: 0 auto;
}

.work-slider--slide {
  min-height: 450px;
  max-height: 900px;
  border-bottom: 10px $red solid;
  background-size: cover;
  background-position: center;

  @include mobile {
    min-height: 300px;
  }
}