.work-gallery-item--full-cntr {
  width: calc(100% / 3);
  overflow: hidden;

  @include tablet {
    width: 25%;
  }

  @include mobile {
    width: 100%;
  }
}

.work-gallery-item--cntr {
  height: 300px;

  &:hover {
    .work-gallery-item--content {
      @include flexbox;
      opacity: 1;
    }
  }

  @include tablet {
    height: 550px;
  }

  @include mobile {
    min-width: 100%;
    height: 250px;
  }
}

.work-gallery-item--content {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  opacity: 0;
  @include transition(.3s all ease);
  @include justify-content(center);
  @include align-items(center);
  @include flex-direction(column);
  text-align: center;
  z-index: 9999;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
 }
