@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.app--page {
  height: 100vh;
  width: 100%; }

::-webkit-scrollbar {
  background: transparent; }

::-webkit-scrollbar-track {
  background: transparent; }

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2); }

body {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-family: GothamLight, sans-serif;
  display: block;
  font-size: 3em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0; }

h2, h3, h4, h5, h6 {
  font-family: GothamBold, sans-serif; }

h2 {
  display: block;
  font-size: 2.25em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0; }

h3 {
  display: block;
  font-size: 1.7em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0; }

h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0; }

p {
  margin-bottom: 10px; }
  p:first-of-type {
    margin-top: 10px; }

@font-face {
  font-family: GothamBold;
  src: url("../../assets/fonts/Gotham-Bold.otf"); }
@font-face {
  font-family: GothamLight;
  src: url("../../assets/fonts/Gotham-Light.otf"); }
.about-cntr,
.contact-cntr {
  background: #63585e;
  position: relative; }
  .about-cntr .borders--cntr .left-border,
  .contact-cntr .borders--cntr .left-border {
    position: absolute; }
  .about-cntr .borders--cntr .right-border,
  .contact-cntr .borders--cntr .right-border {
    position: fixed; }

.about--content,
.contact--content {
  position: absolute;
  top: 0; }

.about-animation,
.contact-animation {
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  margin: 0 auto; }

.animated-circle--cntr {
  min-width: 400px;
  padding: 40px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: relative;
  z-index: 9999; }

.svg-circle {
  width: 100%;
  height: auto; }

.innerCircle {
  animation-name: incOpacity;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards; }

.innerCircle--text {
  transform: scale(0.007);
  font-family: GothamLight, sans-serif;
  font-size: 3.5em; }

@keyframes incOpacity {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.borders--cntr {
  position: relative; }

.left-border {
  height: 100vh;
  width: 20px; }

.right-border {
  height: 20px;
  width: 66.66vw;
  position: absolute;
  bottom: 0vh;
  right: 0; }

.say-hi {
  display: none; }

::placeholder {
  color: #998c9e;
  opacity: 1;
  /* Firefox */
  font-family: Gotham; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: Gotham;
  color: #998c9e; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #998c9e;
  font-family: Gotham; }

.contact--form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  background: #63585e;
  width: 100%; }

.contact--form_msg {
  margin: 10px 0;
  width: 100%; }

.contact--form_input {
  margin: 10px 0;
  width: 100%;
  height: 1.75em;
  background: #63585e;
  border: 0;
  border-bottom: solid 2px #998c9e;
  font-family: Gotham;
  font-size: 1em;
  color: #998c9e; }
  .contact--form_input:first-of-type {
    margin-top: 0; }

.contact--form_msg {
  background: #63585e;
  border: 2px solid #998c9e;
  min-height: 200px;
  resize: vertical;
  font-family: Gotham;
  font-size: 1em;
  color: #998c9e; }

.btn-holder {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
  padding-top: 2em; }

.contact--form_submit {
  background: #63585e;
  color: #998c9e;
  font-family: Gotham;
  font-size: 1.25em;
  border: 0;
  border-bottom: 2px solid #998c9e;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 5px;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  cursor: pointer; }
  .contact--form_submit:hover {
    color: #ffeedb;
    border-color: #ffeedb; }

.double-page--cntr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  height: 100vh;
  width: 100vw; }
  .double-page--cntr > div {
    width: 50%;
    height: 100%; }

.double-page--img div {
  opacity: .75;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center; }

.double-page--txt {
  position: relative; }

.double-page--txt_content {
  z-index: 99;
  position: relative;
  height: 100%;
  width: 65%;
  margin-left: auto;
  padding-right: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }
  .double-page--txt_content p {
    max-width: 50ch; }

.home-landing--cntr {
  background: #63585e; }

.home-landing--content {
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.landing--title {
  position: relative;
  z-index: 9999;
  font-family: Gotham;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.landing--title_txt {
  font-family: Gotham;
  color: #c4e8d5; }

.nav {
  position: fixed;
  width: 100%;
  z-index: 99999; }

.nav--primary {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  position: absolute;
  z-index: 9999;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px;
  max-width: 1080px;
  width: 100%; }
  .nav--primary a, .nav--primary .logo--main {
    position: relative; }
    .nav--primary a:before, .nav--primary .logo--main:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      background: #998c9e;
      bottom: -10px;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      -moz-transform: scaleX(0);
      -o-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      visibility: hidden; }
    .nav--primary a:hover:before, .nav--primary .logo--main:hover:before {
      visibility: visible;
      -moz-transform: scaleX(1);
      -o-transform: scaleX(1);
      -ms-transform: scaleX(1);
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }

.nav--primary_logo-cntr svg {
  max-height: 55px;
  max-width: 55px; }

.nav--primary_links-cntr a {
  color: #ffeedb;
  margin: 0 15px;
  font-family: GothamLight;
  text-decoration: none;
  font-size: 1.15em; }
  .nav--primary_links-cntr a:last-of-type {
    margin-right: 0; }

.social--cntr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  bottom: 30px;
  left: 30px;
  position: fixed;
  z-index: 99999; }

.social--icons_cntr--close {
  display: none; }

.social--icons_cntr--open {
  width: 40px;
  min-height: 40px;
  background-color: rgba(255, 255, 255, 0.4);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  padding: 5px;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }

.social--icons-link {
  text-decoration: none;
  color: #3e3e3e;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }
  .social--icons-link:hover {
    color: #fff; }

.social--btn-click {
  background: #3e3e3e;
  color: #fff;
  height: 40px;
  width: 40px;
  font-family: GothamLight;
  font-size: 28px;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  cursor: pointer; }
  .social--btn-click:hover {
    background: #fff;
    color: #3e3e3e; }

.work-page--entry--gallery_cntr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

.next-project {
  font-family: Gotham;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
  height: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px; }
  .next-project a {
    color: #000;
    text-decoration: none; }

.work-page--entry--gallery {
  position: relative;
  background: pink;
  min-height: 90%; }

.gallery-arrow {
  background: #3e3e3e;
  color: #fff;
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }
  .gallery-arrow:hover {
    background: #fff;
    color: #3e3e3e; }

.work-page-template--cntr {
  position: relative; }
  .work-page-template--cntr .borders--cntr .left-border {
    position: absolute;
    top: -100vh; }
  .work-page-template--cntr .borders--cntr .right-border {
    position: fixed; }

.work-page--content {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.work-page--featured {
  width: calc(100vw / 3);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.work-page--entry {
  margin-top: 50px;
  padding-top: 25px;
  width: calc(100vw - (100vw / 3));
  height: calc(100% - 50px); }

.work-page--entry_title {
  text-align: right;
  padding: 0 25px;
  height: 20%; }

.work-page--entry_process {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  height: 65%; }
  .work-page--entry_process > div {
    width: calc(50% - 5px); }

.work-page--entry_process-txt_cntr {
  text-align: justify;
  height: 100%;
  padding: 0 25px;
  overflow-y: scroll; }

.work-page--meta_cntr {
  padding: 20px;
  text-align: center;
  width: 100%;
  height: calc(15% - 20px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }
  .work-page--meta_cntr .title {
    margin: .25em 0;
    text-transform: uppercase; }
  .work-page--meta_cntr .subtitle {
    text-transform: lowercase; }

.work-preview--cntr .right-border {
  z-index: 9999; }

.work-preview--content_cntr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.work-preview--content_cntr {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.work-preview--meta {
  position: absolute;
  top: -100vh;
  left: 20px;
  width: calc((100% / 3) - 30px);
  height: 100vh; }

.work-preview--featured {
  position: absolute;
  top: -100vh;
  left: calc((100% / 3) - 10px);
  background: #998c9e;
  width: calc(100% - (100% / 3) + 10px);
  height: 100vh; }
  .work-preview--featured .featured-img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    opacity: .75;
    background-repeat: no-repeat; }

.work-preview--meta {
  padding: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }

.work-preview--meta_title-cntr {
  text-align: right; }

.work-preview--meta_place,
.work-preview--meta_title,
.work-preview--meta_type {
  margin: 0; }

.work-preview--meta_type {
  font-style: oblique;
  font-size: 1.25em; }

.work-preview--meta_descr {
  text-align: justify;
  padding-top: 1em;
  margin: 1em 0; }

.work-preview--meta_launch-btn {
  text-decoration: none;
  display: inline-block;
  font-size: 1.25em;
  position: relative;
  padding: 10px 0;
  -moz-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all; }
  .work-preview--meta_launch-btn:hover .launch-btn_underline {
    -webkit-animation: under 1s infinite;
    -moz-animation: under 1s infinite;
    -ms-animation: under 1s infinite;
    -o-animation: under 1s infinite;
    animation: under 1s infinite; }

.launch-btn_underline {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  height: 3px;
  font-size: 40px;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }

@keyframes under {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }
.next-project--home {
  position: absolute;
  bottom: 40px;
  right: 30px;
  font-family: GothamBold;
  cursor: pointer; }

.next-project--home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .next-project--home .scroll-indicator {
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    .next-project--home .scroll-indicator:hover {
      color: #fff; }

.ellipses {
  width: 0;
  display: inline-block;
  position: absolute;
  overflow: hidden;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-animation: ell 2.5s infinite;
  -moz-animation: ell 2.5s infinite;
  -ms-animation: ell 2.5s infinite;
  -o-animation: ell 2.5s infinite;
  animation: ell 2.5s infinite; }

@keyframes ell {
  0% {
    width: 0; }
  33% {
    width: 5px; }
  66% {
    width: 10px; }
  100% {
    width: 15px; } }

/*# sourceMappingURL=main.css.map */
