
<div class="app-container">

  <div class="top-left">

<svg class="frame-svg" xmlns="http://www.w3.org/2000/svg" width="738.5" height="710" viewBox="0 0 738.5 710">
  <g fill="#195F64">
    <path opacity=".25" d="M147 488L93 0l645.5 198"/>
    <path opacity=".25" d="M0 179l593-89-197 620"/>
    <path opacity=".25" d="M64 547l116-443 403 427"/>
  </g>
</svg>


  </div>

    <div class="app-nav">
      <nav>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a routerLink="/work" routerLinkActive="active">Work</a>
        <a routerLink="/about" routerLinkActive="active">About</a>
        <a routerLink="/contact" routerLinkActive="active">contact</a>
        <a routerLink="/project" routerLinkActive="active">project</a>
      </nav>
    </div>

    

  <div class="mobile-nav">
    <div class="mobile-nav--closed">
        <div class="open-nav"><fa name="bars"  (click)="openMenu()"></fa></div>


        <div>
            <p>testing click: {{s}}</p>

            
                </div>

    </div>

   




    <div class="mobile-nav--open">
        <div class="close-nav"><fa name="close"></fa>
        </div>


        

          <ul class="mobile-list">
            <li>
              <div routerLinkActive="active">
                <svg xmlns="http://www.w3.org/2000/svg" width="237.098" height="10.227">
                  <path fill="#F9C8BA" d="M0 0h237.1v20.227H0z"/>
                </svg>
            </div>
              <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
          </li>
            <li>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="237.098" height="10.227">
                      <path fill="#F9C8BA" d="M0 0h237.1v20.227H0z"/>
                    </svg>
                </div>
              <a routerLink="/work" routerLinkActive="active">Work</a></li>

            <li>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="237.098" height="10.227">
                      <path fill="#F9C8BA" d="M0 0h237.1v20.227H0z"/>
                    </svg>
                </div>
              <a routerLink="/about" routerLinkActive="active">About</a></li>


            <li>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="237.098" height="10.227">
                      <path fill="#F9C8BA" d="M0 0h237.1v20.227H0z"/>
                    </svg>
                </div>
              <a routerLink="/contact" routerLinkActive="active">contact</a></li>


            <!-- <li><a routerLink="/project" routerLinkActive="active">project</a></li> -->
          </ul>

        </div>

    </div>

    <div class="router-container">
     <router-outlet></router-outlet>
  </div>

  <div class="bottom-right">

      <svg class="frame-svg" xmlns="http://www.w3.org/2000/svg" width="1068" height="740" viewBox="0 0 1068 740">
        <path opacity=".32" fill="#E49273" d="M692 0l376 286-612 250"/>
        <path opacity=".3" fill="#F2C8A2" d="M182 26.108L938.57 178 488.593 600.58"/>
        <path opacity=".39" fill="#F0D3B5" d="M0 188l780-10-492 562"/>
      </svg>

  </div>
  
  </div>