@import "../../styles";


.home-container--header {
  display: flex;
  justify-content: center;
}

.home-header {
  text-align: center;
  max-width: 420px;
}

h1 {
  color: $dark-tan;
  font-size: 3em;
}

h2 {
  @include mobile {
    font-size: 20px;
  }
}

h2, p {
  font-family: Open Sans;
  color: $forest;
}

p {
  font-style: italic;
}

.home-body {
  display: flex;
  padding-top: 2em;

  @include mobile {
    flex-direction: column;
    padding-top: 0;
    padding-left: 1em;
    padding-right: 1em;
  }
}

.home-link {
  width: 33%;
  padding-top: 2em;
  text-align: center;
  h2 {
    font-family: Khand;
  }

  @include mobile {
    padding-top:0;
    width: 100%;
  }
}

.port {
  @include mobile {
    text-align: left;
  }
}

.contact {
  @include mobile {
    text-align: right;
  }
}


.preview-image {
  height: 250px;
  max-width: 500px;
  background: $forest;
  margin-bottom: 1em;
}

.latest-project {
  min-width: 450px;

  align-content: center;
  justify-content: center;
  display: flex;

  h2 {
    font-family: Khand;
  }

  @include mobile {
    //width: 100%;
    min-width: 0;
  }
}

.latest-proj-title {
  color: $dark-tan;
  text-transform: uppercase;
  font-size: 40px;
}

.latest-proj-name {
  color: $emerald;
  font-size: 30px;
}

.launch-button-container {
  display: flex;
  justify-content: center;
  align-content: center;

  .launch-button {
    width: 70%;
  }
}

/*********************************** SVG ********************************/
svg {
  //width: 100%;
  max-width: 235px;

  .shadow, .main-bg, .text {
    transition: 0.5s ease;
  }

  &:hover {
    .text {
      transform: translate(0, -8px);
      fill: $grapefruit;
    }
    .main-bg {
      transform: translate(0, -6px);
    }
    .shadow {
      transform: translate(0, 3px);
    }

  }

}

