

<div class="work-container">

  <div class="work-piece">
    <div class="dark">
      <h2><span class="proj-num">001/</span> <span class="proj-title">but, beautiful</span></h2>

      <div class="work-piece--summary">
        <div class="flex work-piece--preview">image goes here</div>
        <div class="flex work-piece--text">
          
            <div _ngcontent-c1="" class="latest-project--summary">
                <div _ngcontent-c1="" class="role">
                  <h4 _ngcontent-c1="">role</h4>
                  <p _ngcontent-c1="">full stack developer</p>
                </div>
                <div _ngcontent-c1="" class="toolbox">
                  <h4 _ngcontent-c1="">toolbox</h4>
                  <p _ngcontent-c1="">react.js, sass</p>
                </div>
          
              </div>
        </div>
      </div>
    </div>
    <div class="launch-button-container">
        <a class="launch-button" routerLink="/project">launch project</a>
      </div>
</div>

<div class="work-piece">
    <div class="dark">
      <h2><span class="proj-num">001/</span> <span class="proj-title">but, beautiful</span></h2>

      <div class="work-piece--summary">
        <div class="flex work-piece--preview">image goes here</div>
        <div class="flex work-piece--text">
          
            <div _ngcontent-c1="" class="latest-project--summary">
                <div _ngcontent-c1="" class="role">
                  <h4 _ngcontent-c1="">role</h4>
                  <p _ngcontent-c1="">full stack developer</p>
                </div>
                <div _ngcontent-c1="" class="toolbox">
                  <h4 _ngcontent-c1="">toolbox</h4>
                  <p _ngcontent-c1="">react.js, sass</p>
                </div>
          
              </div>
        </div>
      </div>
    </div>
    <div class="launch-button-container">
        <a class="launch-button" routerLink="/project">launch project</a>
      </div>
</div>





</div>
